.titulo {
  font-family: 'Montserrat', sans-serif;
  color: #FF672F;
  font-weight: 600;
  font-size: 30px;
  line-height: 120px;
  padding-left: 30px;
}


.BotaoDeOpcao {
  background: transparent;
  border: none;
  box-shadow: none;
}
