body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 400px;
}
h1 { /*texto do cabecalho*/
    font-weight: bold;
    font-size: 60px;
    text-shadow: 0px 2px 0 black, 1px 0px 0 black, -1px 0px 0 black, 1px 1px 0 black;
    position: absolute;
    top: 220px;
    left: 455px;
  }

  label {
    margin-bottom: 1px; 
    padding: 5px; 
    font-weight: bold;

  }

  .categoria-label {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
  }

  .categoria-select {
    margin-top: 10px;
  }
  .ingredientes-label {
    display: block;
    margin-top: 5px;
  }