<div class="titulo">Adicionar Receita</div>
<div style="display: flex; justify-content: center; min-width: 100%;">
  <div class="container">
    <div class="formulario">
      <div class="informacoes">
        <form>
          <div class="form-group">
            <label for="nome">Nome da Receita:</label>
            <input type="text" id="nome" name="nome" required>
          </div>

          <div class="form-group">
            <label for="categoria">Categoria:</label>
            <select id="categoria" name="categoria" required>
              <option value="">Selecione uma categoria</option>
              <option value="Alimentos saudavais">Alimentos saudaveis</option>
              <option value="Bebidas">Bebidas</option>
              <option value="Bolos e tortas">Bolos e tortas</option>
              <option value="Carnes">Carnes</option>
              <option value="Comidas brasileiras">Comidas brasileiras</option>
              <option value="Comidas estrangeiras">Comidas estrangeiras</option>
              <option value="Massas">Massas</option>
              <option value="sobremesa">Sobremesa</option>
              <option value="Sopas">Sopas</option>
              <option value="Outras">Outras</option>
            </select>
          </div>

          <div class="form-group">
            <label for="ingredientes">Ingredientes:</label>
            <textarea id="ingredientes" name="ingredientes" rows="4" required></textarea>
          </div>

          <div class="form-group">
            <label for="modo-preparo">Modo de Preparo:</label>
            <textarea id="modo-preparo" name="modo-preparo" rows="4" required></textarea>
          </div>
        </form>
      </div>

      <div class="imagens">
        <label>Inserir Imagens:</label>
        <input type="file" id="file-input" (change)="onFileSelected($event)" accept="image/*" class="file-input">
        <label for="file-input" class="file-label">Escolha um arquivo</label>
        <label>Imagens:</label>
        <div class="images-container">
          <div *ngFor="let image of images">
            <div class="image-block" (click)="removeImage(image)">
              <img [src]="image" alt="Imagem" width="100" height="100">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons" routerLink="/receitas-adicionadas">
      <button type="submit">Adicionar Receita</button>
    </div>
  </div>
</div>
