
<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }

  h1 {
    font-size: 55px;
    font-weight: bold;
    margin-top: 0;
  }

  p {
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #45a049;
  }
</style>

<body>
<div class="container">
  <h1>Adicionar Receita</h1>
  <form>
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" required>
    </div>

    <div class="form-group">
      <label for="categoria">Categoria:</label>
      <select id="categoria" name="categoria" required>
        <option value="">Selecione uma categoria</option>
        <option value="entrada">Entrada</option>
        <option value="prato-principal">Prato Principal</option>
        <option value="sobremesa">Sobremesa</option>
      </select>
    </div>

    <div class="form-group">
      <label for="ingredientes">Ingredientes:</label>
      <textarea id="ingredientes" name="ingredientes" rows="4" required></textarea>
    </div>

    <div class="form-group">
      <label for="modo-preparo">Modo de Preparo:</label>
      <textarea id="modo-preparo" name="modo-preparo" rows="4" required></textarea>
    </div>

    <button type="submit">Adicionar Receita</button>
  </form>
</div>
</body>