body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

label {
  margin-bottom: 1px;
  padding: 5px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

p {
  margin-bottom: 20px;
}

input[type="text"] {
  max-width: 95%;
  min-width: 95%;
  width: 95%;

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  max-width: 100px;
  min-width: 95%;

  min-height: 4.5rem;
  width: 95%;

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

.container {
  display: grid;
  padding-top: .5%;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 560px;
  min-width: 960px;

  border: 1px solid #ccc;
  border-radius: 4px;
}

.formulario {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.informacoes {
  flex: 1;
  margin-right: 10px;
}

.imagens {
  margin: 1%;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  max-width: 50%;
}

.titulo {
  font-size: 35px;
  font-weight: bold;
  padding-top: 2%;
  display: flex;
  justify-content: center;
  text-shadow: 0px 0px 5px #0000002d;
}

.form-group {
  margin: 10px;
  margin-bottom: 20px;
}

.images-container {
  width: 465px;
  height: 130px;
  overflow-y: hidden;
  overflow-x:visible;
  display: flex;

  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

.file-input {
  opacity: 0;
  position: absolute; 
  pointer-events: none;
}

.file-label {
  width: 427px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.file-label:hover {
  background-color: #45a049;
}

.image-block {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.image-block img {
  margin: 5%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 0px 5px #0000002d;
}