<mat-toolbar class="header mat-elevation-z5">
    <span>
        <a href="http://localhost:4200">
            <img class="logo" src="https://i.ibb.co/0BKv2NB/logo.png" alt="logo" border="0">
        </a>
    </span>

    <span class="titulo">
        <a>
            <i class="materials-icons"></i>
            Sabores do Mundo
        </a>
    </span>
    <span class="frase-titulo">
        <a>
            <p>Bem-vindo ao <span style="color: black;">Sabores do Mundo</span> <br>As melhores receitas em apenas um click</p>
        </a>
    </span>
    <span class="entrada-usuario">
        <a href="http://localhost:4200/minhas-receitas">
            <img class="entrada-usuario" src="https://i.ibb.co/8s1nJPD/usuario.png" alt="usuario" border="0">
        </a>
    </span>
</mat-toolbar>
