<div class="container-titulo">
  <div class="titulo-principal">
    Seu Site de Receitas, rápido e prático.
  </div>
  <div class="barra-de-pesquisa">
    <input type="texto" name="q" [(ngModel)]="searchQuery" placeholder="Procure uma receita, um prato, ingrediente...">
    <button class="botao-pesquisa" (click)="pesquisar()" type="botao">
      <img src="https://i.ibb.co/Gk4WsTd/botao-pesquisa.png" alt="botao-pesquisa" border="0">
    </button>
  </div>

</div>
<div class="main-body">
  <div class="left-side">
    <div class="cartao-visitas">
      <img src="https://i.ibb.co/xqpZvXx/cartao-visita.png" alt="cartao-visita" border="0">
      <h3>
        Explore seu lado culinário e encontre receitas para todas as ocasiões.
      </h3>
      <img class="logo" src="https://i.ibb.co/0BKv2NB/logo.png" alt="logo" border="0">
    </div>
    <div class="receitas-favoritas">
      <h1 class="titulo">Receitas Favoritas</h1>
      <div class="conteiner-receitas">
        <div class="receita">
          <div class="texto">Bolo de Cenoura</div>
          <img src="https://i.ibb.co/S59ZHyf/bolo-cenoura.png" alt="bolo-cenoura" border="0">
        </div>
        <div class="receita">
          <div class="texto">Pão Caseiro</div>
          <img src="https://i.ibb.co/mSh7bCv/pao-caseiro.png" alt="pao-caseiro" border="0">
        </div>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="titulo-novidades">
      <div>
        Novidades
      </div>
      <div class="novidade-block">
        <div class="receita-novidade">
          <img src="https://i.ibb.co/8zBtr32/macarrao-cremoso.png" alt="macarrao-cremoso" border="0">
          <h4 class="texto-novidades">Macarrão Cremoso</h4>
        </div>
        <div class="receita-novidade">
          <img src="https://i.ibb.co/6v0kZnn/bolo-formigueiro.png" alt="bolo-formigueiro" border="0">
          <h4 class="texto-novidades">Bolo Formigueiro</h4>
        </div>
      </div>
    </div>
    <div class="bloco-noticias">
      <div class="texto">Notícias</div>
      <div class="bloco-manchetes">
        <div class="quadro-noticia">
          <img src="https://i.ibb.co/1dQN550/noticia-1.png" alt="noticia-1" border="0">
          <h4 class="previa">‘Chef’ robô aprende a criar receitas assistindo a vídeos de comida.</h4>
          <ul>https://veja.abril.com.br/noticias-sobre/gastronomia</ul>
        </div>
        <div class="quadro-noticia">
          <img src="https://i.ibb.co/6tSCNJD/noticia-2.png" alt="noticia-2" border="0">
          <h4 class="previa">‘Chef’ robô aprende a criar receitas assistindo a vídeos de comida.</h4>
          <ul>https://veja.abril.com.br/noticias-sobre/gastronomia</ul>
        </div>
      </div>
    </div>
  </div>
</div>
