<div class="titulo-principal">
  Seu Site de Receitas, rápido e prático.
</div>

<form class="barra-de-pesquisa" action="/pesquisar" method="get">
  <input type="texto" name="q" placeholder="Procure uma receita, um prato, ingrediente...">
  <button type="botao"><img src="https://i.ibb.co/Gk4WsTd/botao-pesquisa.png" alt="botao-pesquisa" border="0"></button>
</form>

<div class="titulo-novidades">
  Novidades
</div>
<div class="titulo-receitas-favoritas">
  Receitas favoritas
</div>
<div class="titulo-noticias">
  Notícias
</div>