.titulo-principal {
  position: absolute;
  width: 792px;
  height: 40px;
  left: 339px;
  top: 165px;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 49px;
  text-align: right;
  color: #ff0000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

form .barra-de-pesquisa {
  display: flex;
  align-items: center;
}

input[type="texto"] {
  padding: 1px;
  padding-inline-start: 8px;
  position: absolute;
  border: 1px solid #000000;
  border-radius: 4px;
  top: 225px;
  width: 505px;
  height: 45px;
  left: 505px;
}

button[type="botao"] {
  padding: 8px 12px;
  position: absolute;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 8px;
  top: 224px;
  width: 20px;
  height: 50px;
  left: 950px;
  border-color: black;
  background: none;
}

button img {
  width: 37px;
  height: 35px;
}

.titulo-novidades {
  position: absolute;
  width: 229px;
  height: 52px;
  left: 900px;
  top: 300px;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  color: #ff4500;
}

.titulo-receitas-favoritas {
  position: absolute;
  width: 335px;
  height: 44px;
  left: 93px;
  top: 470px;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}

.titulo-noticias {
  position: absolute;
  width: 153px;
  height: 44px;
  left: 1008px;
  top: 500px;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}
