input[type="texto"] {
  border: 1px solid #000000;
  border-radius: 4px;
}

button[type="botao"] {
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-color: black;
  background: none;
}

.titulo-principal {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 49px;
  text-align: center;
  color: #ff0000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.titulo-novidades {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  color: #ff4500;
}

.barra-de-pesquisa {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.barra-de-pesquisa input {
  border: 2px solid #000;
  background: #D9D9D9;
  width: 450px;
  height: 35px;
  flex-shrink: 0;
}

.barra-de-pesquisa img {
  height: 35px;
}

.barra-de-pesquisa {
  margin-top: 20px;
}

.titulo-noticias {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}

.main-body {
  margin-left: 10%;
  margin-right: 10%;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.left-side {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 0.025;
  margin-top: 25px;
}

.right-side {
  flex-grow: .5;
}

.container-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px;
  margin-bottom: 50px;
}

.cartao-visitas {
  max-width: 540px;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 103, 47, 1);
  align-items: center;
  border-radius: 5px;
}

.cartao-visitas h3 {
  width: 250px;
  display: flex;
  padding-left: 5px;
  align-items: center;
  text-align: left;
  font-weight: 700;
  margin: 10px;
}

.logo {
  width: 56px;
  height: 56px;
  margin: 10px;
}

.receitas-favoritas .titulo {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}

.receitas-favoritas {
  margin-top: 20px;
  margin-bottom: 20px;
}

.conteiner-receitas {
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
}

.conteiner-receitas img {
  height: 200px;
  width: 300px;
}

.receita {
  display: grid;
}

.texto {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.receita-novidade{
  display: grid;
}

.receita-novidade img {
  width: 227px;
  height: 152px;
}

.texto-novidades {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 15px;
  font-weight: 900;
}

.novidade-block{
  display: flex;
  justify-content: left;
  gap: 10px;
  flex-wrap: wrap;
}