.nome-receita h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 750;
  font-size: 50px;
  line-height: 50px;
  text-align: left;
  color: #FF672F;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.118);
  word-wrap: break-word;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.imagem-receita {
  margin-top: 6%;
  margin-left: 8%;
}

.imagem-receita img {
  min-height: 380px;
  min-width: 300px;
  max-width: 480px;
  max-height: 400px;
  border-radius: 10%;
  border-radius: 20px 20px 20px 20px;
}

.dados-gerais-receita {
  margin-top: 6%;
  margin-left: 4%;
}

.requisitos {
  display: flex;
  flex-wrap: wrap;
}

.ingredientes {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding-left: 15px;
  padding-top: 50px;
}

.modo-preparo {
  font-family: 'Montserrat', sans-serif;
  padding-top: 50px;
  padding-left: 50px;
}



