<!-- <mat-tab-group dynamicHeight class="menu">
    <mat-tab label="Comidas Brasileiras" (click)="retrairMenu()">
        <div *ngIf="menuAberto">
            <br>Acarajé<br>Arroz carreteiro<br>Feijoada<br>Frango com quiabo<br>Galinhada com pequi<br>Picadinho de carne<br>Porco à pururuca<br>Virado à paulista
        </div></mat-tab>
    <mat-tab label="Bolos e Tortas"></mat-tab>
    <mat-tab label="Bebidas"></mat-tab>
    <mat-tab label="Carnes"></mat-tab>
    <mat-tab label="Massas"></mat-tab>
    <mat-tab label="Sopas"></mat-tab>
    <mat-tab label="Doces"></mat-tab>
    <mat-tab label="Sobremesas"></mat-tab>
    <mat-tab label="Alimentos Saudáveis"></mat-tab>
</mat-tab-group> -->

<mat-toolbar class="menu">
    <button mat-button [matMenuTriggerFor]="comidasBrasileiras" class="main-menu-item">Comidas Brasileiras</button>
    <div class="separator"></div>
    <button mat-button [matMenuTriggerFor]="bolosTortas" class="main-menu-item">Bolos e Tortas</button>
    <div class="separator"></div>
    <button mat-button [matMenuTriggerFor]="bebidas" class="main-menu-item">Bebidas</button>
    <div class="separator"></div>
    <button mat-button [matMenuTriggerFor]="carnes" class="main-menu-item">Carnes</button>
    <div class="separator"></div>
    <button mat-button [matMenuTriggerFor]="massas" class="main-menu-item">Massas</button>
    <div class="separator"></div>
    <button mat-button [matMenuTriggerFor]="sopas" class="main-menu-item">Sopas</button>
    <div class="separator"></div>
    <button mat-button [matMenuTriggerFor]="doces" class="main-menu-item">Doces</button>
    <div class="separator"></div>
    <button mat-button [matMenuTriggerFor]="sobremesas" class="main-menu-item">Sobremesas</button>
    <div class="separator"></div>
    <button mat-button [matMenuTriggerFor]="fitnessFood" class="main-menu-item">Alimentos Saudáveis</button>
  </mat-toolbar>
  
  
  <mat-menu #comidasBrasileiras="matMenu">
    <button mat-menu-item>Acarajé</button>
    <button mat-menu-item>Arroz carreteiro</button>
    <button mat-menu-item>Feijoada</button>
    <button mat-menu-item>Frango com quiabo</button>
    <button mat-menu-item>Galinhada com pequi</button>
    <button mat-menu-item>Picadinho de carne</button>
    <button mat-menu-item>Porco à pururuca</button>
    <button mat-menu-item>Virado à paulista</button>
  </mat-menu>
  
  <mat-menu #bolosTortas="matMenu">
    <button mat-menu-item>Template</button>
    <button mat-menu-item>Template</button>
    <button mat-menu-item>Template</button>
  </mat-menu>
  
  <mat-menu #bebidas="matMenu">
    <button mat-menu-item>Template</button>
    <button mat-menu-item>Template</button>
    <button mat-menu-item>Template</button>
  </mat-menu>
  
  <mat-menu #carnes="matMenu">
    <button mat-menu-item>Template</button>
    <button mat-menu-item>Template</button>
    <button mat-menu-item>Template</button>
  </mat-menu>

  <mat-menu #massas="matMenu">
    <button mat-menu-item>Template</button>
    <button mat-menu-item>Template</button>
    <button mat-menu-item>Template</button>
  </mat-menu>

  <mat-menu #sopas="matMenu">
    <button mat-menu-item>Template</button>
    <button mat-menu-item>Template</button>
    <button mat-menu-item>Template</button>
  </mat-menu>

  <mat-menu #doces="matMenu">
    <button mat-menu-item>Template</button>
    <button mat-menu-item>Template</button>
    <button mat-menu-item>Template</button>
  </mat-menu>
  
  <mat-menu #sobremesas="matMenu">
    <button mat-menu-item>Template</button>
    <button mat-menu-item>Template</button>
    <button mat-menu-item>Template</button>
  </mat-menu>

  <mat-menu #fitnessFood="matMenu">
    <button mat-menu-item>Template</button>
    <button mat-menu-item>Template</button>
    <button mat-menu-item>Template</button>
  </mat-menu>