.menu {
    background-color: #ec937888;
    font-size: 10px;
    left: 0px;
    top: 105px;
    display: flex;
    justify-content: space-between;
}

mat-tab-group {
    font-size: 16px;
    color: rgb(5, 0, 0); 
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.separator {
    border-left: 2px solid #f08801;
    border-radius: 5px;
    margin: 0 10px;
    height: 30%;
}